{% extends 'main/admin_dashboard.html' %}
{% load static %}
{% block content %}
<div class="caja d-flex">
    <h1>Mis Archivos</h1>
    <nav class="navbar navbar-light d-flex ml-auto">                    
        <div class="d-flex align-items-right">
            <a href="{% url 'pricing' %}" class="btn btn-dark p-2 mx-2" type="button">Mejorar plan</a> 
            <button class="btn btn-light p-2 mx-2" type="button">
                <i class="fas fa-info-circle"></i>
            </button>
            <button class="btn btn-light p-2 mx-2" type="button">
                <i class="fas fa-tasks"></i>
            </button>
            <button class="btn btn-light pl-2 ml-2" type="button">
                <i class="fas fa-user-circle"></i>
            </button>
        </div>        
    </nav>
    
      </div>
<div class='nav d-flex justify-content-between mt-4'>
        <!-- Botón de Filtro -->
        <div class="text-end mb-3">
            <button class="btn text-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#advancedFilter" aria-expanded="false" aria-controls="advancedFilter">
                <i class="fas fa-filter"></i> 
            </button>
        </div>

        <!-- Formulario Desplegable -->
        <div class="collapse " id="advancedFilter">
            <div class="card card-body shadow-lg">
                <form method="get" action="" class="col-g-3">
                    <div >
                        <label for="search" class="form-label"><i class="fas fa-search"></i> Palabra clave</label>
                        <input type="text" id="search" name="search" class="form-control" placeholder="Buscar por nombre" value="{{ search_query }}">
                    </div>
                    <div >
                        <label for="tipo" class="form-label"><i class="fas fa-file"></i> Tipo de archivo</label>
                        <select id="tipo" name="tipo" class="form-select">
                            <option value="">Todos</option>
                            <option value="image" {% if tipo_archivo == 'image' %}selected{% endif %}>Imágenes</option>
                            <option value="video" {% if tipo_archivo == 'video' %}selected{% endif %}>Videos</option>
                            <option value="pdf" {% if tipo_archivo == 'pdf' %}selected{% endif %}>PDF</option>
                            <option value="text" {% if tipo_archivo == 'text' %}selected{% endif %}>Texto</option>
                            <option value="documento" {% if tipo_archivo == 'documento' %}selected{% endif %}>Documentos</option>
                        </select>
                    </div>
                    <div>
                        <label for="fecha_inicio" class="form-label"><i class="fas fa-calendar-alt"></i> Fecha desde</label>
                        <input type="date" id="fecha_inicio" name="fecha_inicio" class="form-control" value="{{ fecha_inicio }}">
                    </div>
                    <div>
                        <label for="fecha_fin" class="form-label"><i class="fas fa-calendar-check"></i> Fecha hasta</label>
                        <input type="date" id="fecha_fin" name="fecha_fin" class="form-control" value="{{ fecha_fin }}">
                    </div>
                    <div class="col-12 text-end">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-search"></i> Aplicar
                        </button>
                        <a href="{% url 'file_manager' %}" class="btn btn-secondary">
                            <i class="fas fa-redo"></i> Limpiar
                        </a>
                    </div>
                </form>
            </div>
        </div>
        <button class="btn btn-outline-dark dropdown-toggle btn-no-adjust" type="button" id="nuevoMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-plus"></i> Nuevo
        </button>
        <div class="dropdown-menu" aria-labelledby="nuevoMenu">
            {% if directorio_actual == none %}
            <a class="dropdown-item" href="{% url 'archivos-subir-none' %}">
                <i class="fas fa-file-alt"></i> Archivo
            </a>
            <a class="dropdown-item" href="{% url 'crear-directorio-none' %}">
                <i class="fas fa-folder-plus"></i> Directorio
            </a>
            {% else %}
            <a class="dropdown-item" href="{% url 'archivos-subir' directorio_actual.pk %}">
                <i class="fas fa-file-alt"></i> Archivo
            </a>
            <a class="dropdown-item" href="{% url 'crear-directorio' directorio_actual.pk %}">
                <i class="fas fa-folder-plus"></i> Directorio
            </a>
            {% endif %}
        </div>
    </div>
<div class="mt-4">
    <!-- Botón para regresar al directorio padre si existe -->
    {% if parent_directorio %}
        <a href="{% url 'directorios' parent_directorio.pk %}" class="btn btn-secondary mb-3">
            <i class="fas fa-arrow-up"></i> Volver a {{ parent_directorio.nombre }}
        </a>
    {% else %}
        <a href="{% url 'file_manager' %}" class="btn btn-secondary mb-3">
            <i class="fas fa-arrow-up"></i> Volver a la raíz
        </a>
    {% endif %}

    <!-- Lista de Directorios -->
    <h2>Directorios</h2>
    <ul class="list-group mb-4">
        {% for directorio in directorios %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <a href="{% url 'directorios' directorio.pk %}">
                    <i class="fas fa-folder"></i> {{ directorio.nombre }}
                    </a>
                    <span class="badge badge-primary ml-2">{% with total_elements=directorio.subdirectorios.count|add:directorio.archivos.count %}
                        {{ total_elements }}
                    {% endwith %} elementos</span>
                </div>
                <form action="{% url 'borrar-directorio' directorio.pk %}" method="POST" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </form>
            </li>
        {% empty %}
            <p class="alert alert-info">No hay directorios en esta ubicación.</p>
        {% endfor %}
    </ul>

    <!-- Lista de Archivos -->
    <h2>Archivos</h2>
    <ul class="list-group">
        {% for archivo in archivos %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span><i class="fas fa-file-alt"></i> {{ archivo.nombre }}</span>
                <div>
                    <a href="{% url 'detalle-archivo' archivo.pk %}" class="btn btn-info btn-sm">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a href="{% url 'archivos-descargar' archivo.pk %}" class="btn btn-success btn-sm">
                        <i class="fas fa-download"></i>
                    </a>
                    <form action="{% url 'archivos-borrar' archivo.pk %}" method="POST" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </form>
                </div>
            </li>
        {% empty %}
            <p class="alert alert-info">No hay archivos en esta ubicación.</p>
        {% endfor %}
    </ul>
    <script src="{% static 'JS/filtros.js' %}"></script>

</div>
{% endblock %}
