/* Tipografía general */
body, .text, .card-title {
  font-family: "Mitr", sans-serif;
  font-style: normal;
}
.card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn {
  font-weight: bold;
  text-transform: uppercase;
}

/* Primary Button Styles */
.btn-primary {
  font-weight: bold;
  background-color: #800080; /* Purple background */
  color: #ffffff; /* White text for contrast */
  text-transform: uppercase; /* Uppercase text */
  border: none; /* Optional: Remove border if needed */
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #660066; /* Darker purple for hover/focus state */
  color: #ffffff; /* Ensure text remains visible */
}

/* Primary Text Styles */
.txt-primary {
  font-weight: bold;
  color: #800080; /* Purple text */
  text-transform: uppercase;
}

.fs-1 {
  color: #1f7e4d;
}

.title {
  font-weight: 500;
  font-size: 6vh;
  color: #25D366;
  text-decoration: none;
}

.title {
  font-weight: 500;
  font-size: 6vh;
  color: #0f582a;
  text-decoration: none;
}

.card-title {
  color: #2c7744;
}

/* Fondo y general */
body {
  background: linear-gradient(rgba(255, 255, 255, 0.43), rgba(255, 255, 255, 0.392)), url("../img/background.jpg") center/cover fixed;
  color: black;
}

.btn-outline-success {
  color: rgb(110, 163, 29);
  border-color: rgb(209, 247, 152);
}

.btn-outline-success:hover {
  background-color: rgb(186, 250, 155);
}

/* Sidebar */
.sidebar {
  width: 18.7%;
  background-color: #25D366;
  position: fixed;
  height: 100vh;
  padding-top: 10px;
  z-index: 1;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #ffffffbc;
  transition: background-color 0.3s, color 0.3s;
}

.contact-section {
  background: linear-gradient(135deg, #f8f9fa, #e9ecef);
}
.form-container label {
  color: #6c757d;
}
.btn-primary {
  background-color: #007bff;
  border: none;
}
.btn-primary:hover {
  background-color: #0056b3;
}

.sidebar .nav-link.active {
  color: #ffffff;
  background-color: #3351356a;
  border-radius: 5px;
}

/* Navbar */
.navbar {
  z-index: 2;
}

nav a {
  font-weight: 600;
}

/* Sección de precios */
.pricing-section {
  background: #f8f9fa;
  border-radius: 10px;
  padding: 40px 20px;
}

.pricing-card {
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 10px;
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.69);
}

.pricing-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.card-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 1.5rem;
  background-color:#2c7744;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.price {
  color:#1f7e4d;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.features {
  list-style: none;
  padding: 0;
}

.features li {
  font-size: 1rem;
  color: #6c757d;
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.features li i {
  color: #28a745;
  margin-right: 0.5rem;
}

.btn {
  border-radius: 50px;
  font-size: 1rem;
}

/* Sección de banner */
.banner {
  padding: 80px 20px;
  text-align: center;
}

.banner h2 {
  color: #199f1c;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.banner p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

/* Sección de características */
.features {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
  background-color: #fff;
}

.feature {
  text-align: center;
  width: 30%;
  padding: 20px;
  background-color: #e9f5e9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.feature h3 {
  font-size: 1.8em;
  color: #2c7744;
}

.feature p {
  font-size: 1em;
  margin-bottom: 15px;
}

/* Sección de CTA */
.cta {
  text-align: center;
  padding: 40px;
  background-color: #2c7744;
  color: #fff;
}

.cta a {
  background-color: #22995b;
  padding: 15px 30px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 5px;
  transition: background-color 0.3s;
}


#advancedFilter {
  position: absolute; /* Hace que el formulario se superponga */
  margin: 0 auto;
  width: 50%;
  z-index: 1050; 
  background: rgba(0, 0, 0, 0); 
  padding: 15px;
  animation: fadeIn 0.3s ease-in-out; /* Transición suave */
}


.btn-no-adjust {
  height: 40px;  /* Set a fixed height */
  display: flex;
  align-items: center;  /* Vertically center the content */
  justify-content: left; 
  padding: 0 10px;  /* Add padding to the sides of the button */
  margin-left: 0;
}

.btn-no-adjust i {
  margin-right: 5px;  /* Space between the icon and the text */
}

.cta a:hover {
  background-color: #1f7e4d;
}

/* Footer */
footer {
  background-color: #22995b;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: 100px;
}

footer p {
  margin: 0;
}

/* Imagen */
.img-fluid {
  height: 150px;
}
